*{
  margin: 0;
  padding: 0;
}
.main{
  background-color: black;
  width: 30%;
  min-height: 300px;
  margin: auto;
  margin-top: 20px;
 
}h1{
  color: white;
  text-align: center;
  margin-top: 50px;
}
#uname{
 height: 30px;
 width: 80%;
 margin-left: 40px;
 border-left: none;
 border-top: none;
 border-right:none;
 background-color: black;
 color: white;
}#pasword{
  height: 30px;
 width: 80%;
 margin-left: 40px;
 border-left: none;
 border-top: none;
 border-right:none;
 background-color: black;
 color: white;
 margin-top: 30px;
}button{
  background-color: black;
  color: white;
  position: relative;
  left: 50px;
  top: 30px;
  padding: 8px;
  border: none;
}#Sign{
  background-color: darkgreen;
  width: 30%;
  position: relative;
  left: 30%;
  border-color: darkgreen;
}#Sign a{
  color: white;
  text-decoration: none;
}